
@{
    ViewBag.Title = "Parolamı Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bg-light">
        <div class="row container m-auto">
            <div class="col-sm-12">
                <div class="p-3 m-5 bg-white rounded-lg mx-auto" style="width:340px; box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);">
                    <table class="w-100">
                        <tr>
                            <td class="pb-2">
                                <input class="form-control-lg w-100" required="" name="userNameOrEmail" placeholder="Kullanıcı adı veya Eposta">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Gönder" class="btn btn-lg btn-success w-100 mb-2" style="width:100% !important;" />
                            </td>
                        </tr>
                    </table>
                    @if (ViewBag.Result != null)
                    {
                        <div>
                            <br />
                            <div class="alert alert-warning w-100"> @ViewBag.Result</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

